html {
  box-sizing: border-box;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-image: url("../src/bg-2.webp");
  background-size: cover;
  /* background-position: center;  */
  background-repeat: no-repeat; 

  /* whatever websafe font that is sans-serif */
  font-family: "Trebuchet MS", "Helvetica", "Arial", sans-serif;
  background-color: #576886;
  color: whitesmoke;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.555);
}

nav {
  ul {
    display: flex;
    list-style: none;
    /* border: 1px solid black; */
    padding: 0;
    justify-content: space-around;
    margin: 0;
    /* flex-flow: column; */
    flex-wrap: wrap;
  }
  li {
    /* background-color: #3c89d1; */
    padding: 0.5em;
    min-width: 5em;
    /* box-shadow: #000000c2 0 0 7px 0px; */
  }
  a {
    color: #f5f5f5;
  }
}

.panel {
  max-width: 70em;
  /* border: 1px solid black; */
  height: 100%;
  width: 100%;
  padding: 0.5em;
  backdrop-filter: blur(19px) brightness(.8);
  box-shadow: #000000c2 0 0 7px 0px;
  border-radius: 0.4em;
}

nav, main, ul {
  margin: 0.5em;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  min-width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}

#scroll-view {
  height: 30rem;
  overflow-y: scroll;
}

tr {
  outline: thin solid #ffffff2b;
}
tr:last-child {
    opacity: 0;
    animation: show 0.5s 0s forwards;
}

/* whoooooooo animations */
@keyframes show {
    to {
        opacity: 1;
    }
}